@import url(reset.css);
@import url(variables.css);
@import url(commons.css);

/* HEADER */
header{
    background-color: var(--first-color);
    padding: 1.25rem 0;
    color: white;
}

.main-nav{
    display: none;
}

/* RESPONSIVE HEADER */
@media  screen and ( min-width: 992px )  {
    .hamburger{
        display: none;
    }
    .main-nav{
        display: block;
    }
} 
/* SECTION HIGHLIGHTS */
.card-debug{
    background-color: var(--first-color-light);
    height: 100px;
}
.highlights .col{
    width: 100%;
    margin: .625rem 0;
}
/* RESPONSIVE SECTION HIGHLIGHTS */
@media screen and ( min-width: 769px) {
    .highlights .col{
        width: calc( 100% / 3);
    }
    .highlights .col:first-child{
        width: calc( (100% / 3) * 2);
    } 
}
/* SECTION PLANNING */
.planning{
    background-color: var(--secondary-color);
}
.planning .col{
    width: 100%;
    margin: .625rem 0;
}
.no-border{
    
}
.border{
    background-color: white;
}

/* RESPONSIVE SECTION PLANNING */
@media screen and (min-width: 768px) {
    .planning .col{
        width: 50%;
    }
}

/* SECTION TESTIMONIALS */
.testimonials .col{
    width: 100%;
    margin: .625rem 0;
    text-align: center;
}
.card-testimonial{
    background-color: var(--secondary-color);
}
img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
  }
  /* RESPONSIVE SECTION TESTIMONIALS */
  @media screen and (min-width: 768px) {
    .card-testimonial{
        display: flex;
        align-items: center;
    }
}

/* SECTION BENEFITS */
.benefits{
    background-color: var(--secondary-color);
}
.benefits .col{
    width: 100%;
    margin: .625rem ;
    background-color: white;
    height: 300px;
    margin: 1.25rem;
    
}
/* RESPONSIVE SECTION BENEFITS */
@media screen and (min-width: 768px) {
    .benefits .col{
        width: calc(100% / 2 - 40px);
    }
}
@media screen and (min-width: 998px) {
    .benefits .col{
        width: calc(100% / 3 - 40px);
    }
}
/* SECTION ABOUT US */
.about-us{
    width: 100%;
    height: 600px;
}
/* RESPONSIVE SECTION ABOUT US */
@media screen and (min-width: 768px) {
    .col.big{
        width: calc((100% / 3) * 2);
    }
}
@media screen and (min-width: 768px) {
    .col.small{
        width: calc((100% / 3));
    }
}
/* SECTION GET STARTED */
.get-started{
    background-color: var(--secondary-color);
    color: white;
}
.container-small{
    max-width: 37.5rem;
    margin:auto;
    text-align: center;
}